
<div class="board col-md-12 col-lg-12">
    <div class="column">
        <h4 class="pb-3">Backlog <badge class="badge bg-success"></badge></h4>
        <div class="card">
            <h6>Task 1</h6>
            <p class="text-muted">Mobile App development</p>
        </div>
        <div class="card">
            <h6>Task 2</h6>
            <p class="text-muted">Testing</p>
        </div>
        <div class="card">
            <h6>Task 3</h6>
            <p class="text-muted">Publishing</p>
        </div>
    </div>
    <div class="column">
        <h4 class="pb-3">Priotized</h4>
        <div class="card">
            <h6>Task 2</h6>
            <p class="text-muted">Google Auth</p>
        </div>
        <div class="card">
            <h6>Task 3</h6>
            <p class="text-muted">Twitter Auth</p>
        </div>
        <div class="card">
            <h6>Task 4</h6>
            <p class="text-muted">Facebook Auth</p>
        </div>
        <div class="card">
            <h6>Task 2</h6>
            <p class="text-muted">Google Auth</p>
        </div>
    </div>
    <div class="column">
        <h4 class="pb-3">In Progress</h4>
        <div class="card">
            <h6>Task 4</h6>
            <p class="text-muted">Fetch data from external API and populate the charts</p>
        </div>
        <div class="card">
            <h6>Task 9</h6>
            <p class="text-muted">Manage user subscription</p>
        </div>
    </div>
    <div class="column">
        <h4 class="pb-3">Done</h4>
        <div class="card">
            <h6>Task 7</h6>
            <p class="text-muted">UI Design</p>
        </div>
        <div class="card">
            <h6>Task 3</h6>
            <p class="text-muted">User Login</p>
        </div>
    </div>
</div>
