
<div class="board col-md-12 col-lg-12">
    <TaskColumn Title="Backlog" Tasks="@this.BacklogTasks" />

    <TaskColumn Title="Prioritized" Tasks="@this.PrioritizedTasks" />

    <TaskColumn Title="In Progress" Tasks="@this.InProgress" />

    <TaskColumn Title="Done" Tasks="@this.Done" />
</div>
